@let question = codingQuestion.value();
@if (question) {
  <div class="container-fluid h-100 d-flex flex-column">
    <!-- Full height row -->
    <div class="row flex-grow-1 h-100">
      <!-- Left Panel: Question Description -->
      <div
        class="col-6 bg-light overflow-auto d-flex flex-column h-100 border pt-2"
      >
        <ul
          [destroyOnHide]="false"
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav-tabs"
        >
          <li ngbNavItem="description">
            <button ngbNavLink>Description</button>
            <ng-template ngbNavContent>
              <div class="d-flex flex-column">
                <h2 class="mb-3">{{ question.title }}</h2>
                <div class="card">
                  <div class="card-body over">
                    <pre
                      class="mb-0 text-break"
                      style="white-space: pre-wrap"
                      >{{ question.description }}</pre
                    >
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="submissions-list">
            <button ngbNavLink>History</button>
            <ng-template ngbNavContent>
              <h2>Display submission history</h2>
            </ng-template>
          </li>
          <li ngbNavItem="submission-detail">
            <button ngbNavLink>Submissions</button>
            <ng-template ngbNavContent>
              <h2>Display submission details</h2>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2 flex-grow-1 overflow-auto"></div>

        @let output = this.codeRunOutput();
        @if (output) {
          <app-code-run [codeRunOutput]="output"></app-code-run>
        }
      </div>

      <!-- Right Panel: Code Editor -->

      <div class="col-6 d-flex flex-column h-100 bg-light border p-0">
        <!-- Submit Button -->
        <div
          class="bg-dark text-white p-3 d-flex align-items-center justify-content-between"
        >
          <h5 class="mb-0">Code Editor</h5>
          <div>
            <button class="btn btn-primary mx-3" (click)="runCode()">
              Run code
            </button>
            <button class="btn btn-success" (click)="submitSolution()">
              Submit Solution
            </button>
          </div>
        </div>

        <div class="flex-grow-1 overflow-auto">
          <ngx-monaco-editor
            [options]="editorOptions"
            [(ngModel)]="code"
            class="h-100 w-100"
          ></ngx-monaco-editor>
        </div>

        <div class="container bg-light border">
          <div class="p-3">
            <h5 class="mb-3">Code run input</h5>
            <div class="form-group">
              <label for="testCaseInput">Enter Test Case Input:</label>
              <textarea
                class="form-control"
                id="testCaseInput"
                [(ngModel)]="codeRunInput"
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
