@let question = codingQuestion();
@if (question) {
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row flex-grow-1 h-100">
      <div
        class="col-6 bg-light overflow-auto d-flex flex-column h-100 border pt-2"
      >
        <ul
          [destroyOnHide]="false"
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          class="nav-tabs"
        >
          <li ngbNavItem="description">
            <button ngbNavLink>Description</button>
            <ng-template ngbNavContent>
              <div class="d-flex flex-column">
                <h2 class="mb-3">{{ question.title }}</h2>
                <div class="card">
                  <div class="card-body over">
                    <pre
                      class="mb-0 text-break"
                      style="white-space: pre-wrap"
                      >{{ question.description }}</pre
                    >
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="submission-detail">
            <button ngbNavLink>Submission</button>
            <ng-template ngbNavContent>
              <div class="container py-3">
                <h4>Submission Details</h4>

                @if (submissionResult()?.length > 0) {
                  <app-submission-detail
                    [question]="question"
                    [submissionResult]="submissionResult()"
                    [submittedCode]="code()"
                    [language]="language()"
                  ></app-submission-detail>
                } @else {
                  <div class="alert alert-warning mt-3">
                    No submission results to display.
                  </div>
                }
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2 flex-grow-1 overflow-auto"></div>

        @let output = this.codeRunOutput();
        @if (output) {
          <app-code-run [codeRunOutput]="output"></app-code-run>
        }
      </div>

      <div class="col-6 d-flex flex-column h-100 bg-light border p-0">
        <div
          class="bg-dark text-white p-3 d-flex align-items-center justify-content-between"
        >
          <div class="d-flex align-items-center flex-nowrap">
            <h5 class="mb-0 me-2">Code Editor</h5>
            <select
              class="form-select form-select-sm w-auto"
              aria-label="Select Language"
              [(ngModel)]="language"
            >
              <option value="python">Python</option>
              <option value="javascript">Javascript</option>
            </select>
          </div>
          <div>
            <button class="btn btn-primary me-2" (click)="runCode()">
              Run Code
            </button>
            <button class="btn btn-success" (click)="submitSolution()">
              Submit Solution
            </button>
          </div>
        </div>

        <div class="flex-grow-1 overflow-auto">
          <ngx-monaco-editor
            [options]="editorOptions()"
            [(ngModel)]="code"
            class="h-100 w-100"
          ></ngx-monaco-editor>
        </div>

        <div class="container bg-light border">
          <div class="p-3">
            <h5 class="mb-3">Code run input</h5>
            <div class="form-group">
              <label for="testCaseInput">Enter Test Case Input:</label>
              <textarea
                class="form-control"
                id="testCaseInput"
                [(ngModel)]="codeRunInput"
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
